@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: auto;
}

.container-info {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 2rem;
  width: 90%;
  margin-top: 3rem;
  z-index: -1;
}

#location {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 25%;
  height: 3rem;
}

.temperature {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.description,
.description span {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
}

.description span {
  text-transform: lowercase;
  font-weight: 400;
}

.weather-image {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

#today {
  font-size: 2rem;
  height: 2.5rem;
  text-align: center;
  margin: 0;
  padding-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  height: auto;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  z-index: 10;
}

blockquote p {
  font-size: 2rem;
  text-align: center;
}

#quote-author {
  font-size: 1.6rem;
  font-style: italic;
  text-align: right;
}

@media only screen and (min-width: 360px) {
  .container-info {
    width: 90%;
    bottom: 20%;
  }
}

/* Media Queries */

@media (min-width: 768px) {
  .page-container {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .page-container {
    width: 60%;
  }
}
